* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.clearfix {
  clear: both;
}

.background-image {
  color: #fff;
}
.background-image .firstBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 158, 158, 0.7);
  z-index: -1;
}

.nav-bar {
  color: #fff;
}
.nav-bar .navbar-brand {
  margin-left: 90%;
}
.nav-bar .links {
  margin-left: 62%;
  margin-top: -45px;
  padding: 10px;
}
.nav-bar .links li {
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.nav-bar .links li:hover {
  border-bottom: 3px solid #044750;
}
.nav-bar .links li a {
  color: #fff;
}
.nav-bar .links li.active a,
.nav-bar .links li a:hover {
  color: #044750;
}

.toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
  margin-left: 310px;
}
.toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #cfd5d6 transparent;
  position: absolute;
  bottom: -10px;
  left: 10px;
}
.toggle-menu span {
  display: block;
  background-color: #cfd5d6;
  height: 4px;
  margin-bottom: 4px;
}
.toggle-menu .toggle-span {
  background-color: #fff !important;
}

.background-image2 .secondBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 540px;
  left: 0;
  z-index: -1;
}

.ourservices {
  margin-top: 20px;
  padding: 50px 20px;
}
.ourservices .container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 11px;
}
.ourservices h2 {
  color: #0c4750;
  background-color: #c6c3c2;
  border: 2px solid #2ebb9e;
  border-radius: 50%;
  width: 130px;
  height: 110px;
  padding-top: 30px;
  margin-left: 45%;
}
.ourservices .serviceCont {
  border: 2px solid #036268;
  padding: 25px 20px;
  -webkit-box-shadow: -10px 10px 12px -5px #036268;
          box-shadow: -10px 10px 12px -5px #036268;
  border-radius: 5%;
  margin-left: 3%;
  margin-top: 60px;
}
.ourservices .serviceCont .serviceIcon {
  height: 50px;
  margin-left: 42%;
  color: #1abc9c;
}
.ourservices .serviceCont .fotoOne {
  border: 1px solid black;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.ourservices .serviceCont .fotoHeight {
  height: 100%;
  width: 100%;
}
.ourservices .serviceCont .info h3 {
  color: #d0362f;
  margin-top: 10px;
}
.ourservices .serviceCont .info p {
  color: #036268;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.25rem;
}
.ourservices .serviceCont .fotoOneNew {
  margin-top: 85px;
  border: 1px solid black;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.ourservices .newSerCon {
  padding: 2px;
}
.ourservices .newHei {
  height: 610px;
}
.ourservices .newSerConInfo {
  height: 93%;
  line-height: 1.5rem;
}
.ourservices .newColSer {
  background-color: #d0d0df;
}
.ourservices .lastSerHei {
  padding-top: 70px;
  padding-bottom: 215px;
}
.ourservices .newSerTable {
  color: #044750;
  font-weight: bold;
}
.ourservices .imageDivNew {
  width: 100%;
}

.collNumb6 .newSerCon {
  height: 993px;
}
.collNumb6 .newSerCon .fotoOne {
  width: 100%;
}

.background-image3 .secondBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1080px;
  left: 0;
  z-index: -1;
}

.background-image4 .secondBack {
  width: 100%;
  height: 945px;
  position: absolute;
  top: 1620px;
  left: 0;
  z-index: -1;
}

.background-image5 .secondBack {
  width: 100%;
  height: 945px;
  position: absolute;
  top: 2205px;
  left: 0;
  z-index: -1;
}

.background-image6 .secondBack {
  width: 100%;
  height: 945px;
  position: absolute;
  top: 3055px;
  left: 0;
  z-index: -1;
}

.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.gallery h2 {
  color: #0c4750;
  background-color: #c6c3c2;
  border: 2px solid #2ebb9e;
  border-radius: 50%;
  width: 195px;
  height: 165px;
  padding-top: 10px;
  margin-left: 45%;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box .imageDiv {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gallery .images-box img {
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: #fff;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10%;
  -webkit-box-shadow: inset 0px 0px 14px 18px #c6c3c2;
          box-shadow: inset 0px 0px 14px 18px #c6c3c2;
}
.gallery .images-box .videoDev {
  border: 2px solid #020202;
  border-radius: 25px;
  margin-top: 30px;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.425);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #CCC;
  padding: 20px;
  z-index: 1001;
  max-height: 835px;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: #58B19F;
}
.popup-box img {
  max-width: 100%;
}

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #036268;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Tahoma;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.help .helpFoto img {
  height: 500px;
}
.help .helpInfo h3 {
  color: #044750;
  margin-top: 10px;
}
.help .helpInfo p {
  color: #036268;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 30px;
  font-size: 1.25rem;
}

.footer {
  background-color: #fff;
  margin-top: 100px;
}
.footer .contact {
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.footer .fotPhone {
  color: black;
}
.footer .fotPhone:hover {
  color: #58B19F;
  font-size: 1.8rem;
  font-weight: bolder;
}
.footer .conEmail {
  color: black;
}
.footer .conEmail:hover {
  color: #58B19F;
  font-size: 1.8rem;
  font-weight: bolder;
}
.footer .footerIcon {
  font-size: 2rem;
  text-align: end;
}
.footer .footerIcon a {
  text-decoration: none;
  color: blue;
  margin: 10px;
}
.footer .footerIcon a:hover {
  color: #044750;
}

.copyright {
  margin-top: 200px;
  margin-bottom: 20px;
}

.main-btn {
  color: black;
  padding: 0.5rem 1rem;
  font-weight: lighter;
  text-align: center;
  cursor: auto;
}

.logo {
  color: black;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: lighter;
  padding-bottom: 2px;
}

.background-image-about {
  color: #fff;
}
.background-image-about .firstBack {
  width: 100%;
  height: 1095px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-image-about .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1095px !important;
  background-color: rgba(158, 158, 158, 0.7);
  z-index: -1;
}

@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 0%;
    margin-top: -15px;
  }
}

.about .about-head {
  color: #044750;
}
.about .about-info {
  color: #044750;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3.5rem;
}

@media (max-width: 991px) {
  .nav-bar .navbar-brand {
    margin-left: 32%;
  }
}
@media (max-width: 767px) {
  .nav-bar .links {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .nav-bar .links {
    margin-right: -95px;
  }
}
@media (max-width: 767px) {
  .nav-bar .links.open {
    background-color: #cfd5d6;
    color: #044750;
    padding: 10px;
    display: block;
    position: absolute;
    right: 10px;
    top: 247px;
    width: 60%;
    border-radius: 20px;
    text-align: center;
    z-index: 100000000;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .nav-bar .links.open li {
    display: block;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    border: none;
  }
  .nav-bar .links.open li:hover {
    font-size: 2rem;
    border: none;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .nav-bar .links.open li a {
    color: #044750;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .nav-bar .toggle-menu {
    display: inline-block;
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .nav-bar .toggle-menu span {
    background-color: #000000;
  }
}

@media (max-width: 991px) {
  .ourservices h2 {
    margin-left: 105px;
  }
}
@media (max-width: 991px) {
  .gallery h2 {
    width: 120px;
    height: 115px;
    padding-top: 13px;
    margin-left: 35%;
    font-size: 1.25rem;
  }
}