
$flatWhite: #fff;

$flatWhiteRed: #c6c3c2;

$flatWhiteDark: #cfd5d6;

$flatGreen: #19774f;

$flatRed: #d3222a;

$darkGreen: #044750;

$flatGreenLite: #0c4750;

$flatWhiteGreen: #2ebb9e;

$darkGreenAlt: #036268;

$flatBlue: #121ef9; 

$flatGreen: #58B19F;

$flatGreenAlt: #4ed1b0;

$flatBlack: black;

$maxMobile: 600px;
$maxSmall: 767px;
$maxMedium: 991px;